<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body  style="background-color:#e3f2fd">
<h3>Car Interiors:</h3>
<h4>The interior develops the proportions, shape, placement, and surfaces for the instrument panel, seats,
        door trim panels, headliner, pillar trims, etc. Here the emphasis is on ergonomics and the comfort of
        the passengers.The procedure here is the same as with exterior design (sketch, digital model, and clay model).</h4>
      <img src="..\static\images\h4.jpg" class="d-block w-100" alt="...">

    <h3>Car Exteriors:</h3>
<h4>the exterior of the vehicle develops the proportions, shape, and surface details of the vehicle. Exterior design is
    first done by a series of manual sketches and digital drawings. Progressively, drawings that are more detailed are executed
    and approved by appropriate layers of management, followed by digital rendering to images. Consumer feedback is generally
    sought at this point to help iteratively refine vehicle concepts according to the targeted market and will continue
    throughout the rest of the design refinement process. After more progressive refinement, industrial plasticine and or
    digital models are developed from and along with the drawings and images. The data from these models are then used to create
    quarter-scale and finally full-sized mock-ups of the final design. With three- and five-axis CNC milling machines, the clay
    model is first designed in a computer program and then "carved" using the machine and large amounts of clay. Even in times
    of photorealistic 3D (three dimensional) software and virtual models on power walls, the clay model is still the most
    important tool for a final evaluation of the exterior design of a vehicle and, therefore, is used throughout the
    industry.</h4>
      <img src="..\static\images\h5.jpg" class="d-block w-100" alt="...">

</body>
</html>